.certificate_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  height: 900px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list_item {
  display: flex;
}

.certificate_list::-webkit-scrollbar {
  display: none;
}

.photo {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .certificate_list {
    grid-template-columns: 1fr 1fr;

    height: 900px;
    border-radius: 15px;
  }

  .photo {
    width: 1fr;
    height: auto;
  }

  .list_item {
  }
}
