.project_item {
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #17253091;
  overflow: hidden;
}

.rep_link {
  text-decoration: underline;
  color: #6291b4;
  padding: 20px 0;
  transition: 0.3s;
}

.rep_link:hover {
  color: #a5bed1;
}

.indent {
  text-indent: 8px;
}

.visit_site_container_content {
  display: none;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.info_item {
  padding: 5px;
}

.span_marg {
  margin-bottom: 5px;
}

.font_style {
  font-size: 19px;
  margin-left: 2px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1000px) {
  .project_item {
    border-radius: 15px;
    max-width: 400px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #17253091;
    overflow: hidden;
  }

  .img {
    width: 400px;
  }

  .project_item:hover .img {
    transition: 0.5s;
    filter: brightness(45%);
  }

  .img_url {
    position: relative;
  }

  .title_click_url {
    fill: #ffffff;
    color: #ffffff;
  }

  .visit_site_container_content {
    font-size: 50px;
    position: absolute;
    top: 80px;
    left: 40px;
    transition: 0.5s;
  }

  .project_item:hover .visit_site_container_content {
    display: block;
    opacity: 1;
  }

  .project_item:hover {
    scale: 1.04;
  }

  .info_item {
    padding: 20px 10px;
  }

  .name_proj {
    font-size: 25px;
    margin-bottom: 8px;
  }

  .lang_title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .click_icon {
    fill: #f3f3f3;
  }
}
