.project_item {
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #17253091;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.info_item {
  padding: 5px;
}

.span_marg {
  margin-bottom: 5px;
}
.font_style {
  font-size: 15px;
  margin-left: 2px;
}

@media screen and (min-width: 1000px) {
  .project_item {
    border-radius: 15px;
    max-width: 400px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #17253091;
    overflow: hidden;
  }

  .project_item:hover .img {
    filter: brightness(40%);
    transition: 0.3s;
  }

  .img_url {
    position: relative;
  }

  .title_click_url {
    fill: #ffffff;
    color: #ffffff;
    display: none;
  }

  .project_item:hover .title_click_url {
    display: block;
    font-size: 50px;
    position: absolute;
    top: 80px;
    left: 40px;
    transition: 0.3s;
  }

  .img {
    width: 400px;
  }

  .project_item:hover {
    scale: 1.04;
  }

  .info_item {
    padding: 10px;
  }

  .name_proj {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .lang_title {
    margin-bottom: 5px;
  }

  .click_icon {
    fill: #f3f3f3;
  }
}
