.aside {
  /* max-width: 100%; */
  width: 100%;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 15px; */
}

.skill_item {
  width: 50px;
  display: flex;
  /* gap: 22px; */
  font-weight: 800;
  align-items: center;
  padding: 4px 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(20, 44, 73);
  cursor: pointer;
  /* min-width: 200px; */
  /* height: 100%; */
}

.iconss {
  width: 35px;
  height: 35px;
  fill: rgb(152, 58, 37);
}

.title_skill {
  display: none;
}

@media screen and (min-width: 1000px) {
  .title_skill {
    display: block;
  }

  .skill_item {
    width: 150px;
    gap: 22px;
  }
}
