.aside {
  /* max-width: 100%; */
  width: 100%;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 15px; */
}

.skill_item {
  width: 150px;
  display: flex;
  gap: 22px;
  font-weight: 800;
  align-items: center;
  padding: 4px 10px;
  border: 1.5px solid #ebe0e0;
  border-radius: 8px;
  background-color: rgb(22, 49, 75);
  cursor: pointer;
  /* min-width: 200px; */
  /* height: 100%; */
}

.iconss {
  width: 35px;
  height: 35px;
  fill: rgb(152, 58, 37);
}
