.sidebar_container {
  position: relative;
}

.aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: rgba(40, 36, 36, 0.4);
  backdrop-filter: blur(20px);
  box-shadow: 4px 0 12px rgba(123, 122, 122, 0.15);
  padding: 25px 8px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border-radius: 0 15px 15px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  font-family: "Playfair Display", serif;
  font-size: 15px;
}

.aside_open {
  position: fixed;
  transform: translateX(0);
}

.aside_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu_btn {
  position: relative;
  top: 30px;
  left: 5px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  fill: #eaeaea;
  transition: 0.3s;
  margin-right: 5px;
}

.menu_btn_none {
  display: none;
}

.btn_close_menu {
  position: relative;
  top: -10px;
  right: -130px;
  background-color: transparent;
  border: none;
  fill: #dedada;
}

@media screen and (min-width: 1000px) {
  .aside {
    transform: translateX(0);
    position: fixed;
    display: block;
    width: 220px;
    font-size: 20px;

    /* 
 
  height: 100vh;
  background-color: rgba(88, 87, 87, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 4px 0 12px rgba(123, 122, 122, 0.15);
  padding: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  border-radius: 0 15px 15px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999; */
  }
  .menu_btn {
    display: none;
  }

  .btn_close_menu {
    display: none;
  }

  .link {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    color: #dedada;
    background-color: rgba(135, 123, 123, 0.5);
    font-weight: 600;
    transition: 0.2s;
  }
}

/* .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
  user-select: none;
}

.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: 0.1em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,
    0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #c43434;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(143, 82, 82);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #155697;
} */
