.wrapper {
  display: flex;
  gap: 10px;
}

.content {
  padding-right: 26px;
  margin-top: 30px;
  width: 100%;
}

.content_right {
  margin-left: 180px;
}

@media screen and (min-width: 1000px) {
  .content {
    margin-left: 230px;
  }
}
